@import 'src/Styles/variables';
.auth {
  display: flex;
  align-items: center;
  position: relative;

  border-top: 2px solid $light-grey;
  border-left: 2px solid $light-grey;
  border-right: 2px solid $light-grey;
  border-radius: .5rem .5em 0 0;

  button {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
  }
  .authMenu {
    position: absolute;
    width: 10.65rem;
    top: 3rem;
    left: -2px;
    display: none;
    border-bottom: 2px solid $light-grey;
    border-left: 2px solid $light-grey;
    border-right: 2px solid $light-grey;
    border-radius: 0 0 .5rem .5em;


    li {
      margin-bottom: .5rem;
      list-style: none;
      padding-left: 3em;
    }
  }

  .visible {
    display: block;
  }

  .rotate{
    transform: rotate(180deg);
  }
}

.borderBottom {
  border-bottom: 2px solid $light-grey;
  border-radius: .5em;
}
