.auth {
  display: flex;
  align-items: center;
  position: relative;

  button {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
    margin-left: .7rem;
    font-size: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .authMenu {
    position: absolute;
    top: 2rem;
    left: 3rem;
    display: none;
    li {
      font-size: .9rem;
      margin-bottom: .5rem;
      list-style: none;

    }
  }

  .visible {
    display: block;
  }

  .rotate{
    transform: rotate(180deg);
  }
}
