@import "src/Styles/variables";

.card {
  background-color: $dark-gray;
  color: $black-base;
  padding: 2em;
  border-radius: .7rem;
}

.s {
  width: 15rem;
  height: 10rem;
}

.m {
  width: 30rem;
}

.l {
  width: 50rem;
}
