@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
// Colors

$white-base: #fff;
$black-base: #000;
$gray-base: #8E8E8E;
$green-base: #75AD00;
$light-grey: #F2F2F2;

// Fonts

$primary-font: 'Poppins', sans-serif;
