@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,800&family=Poppins:wght@400;600;700&display=swap');
// Colors

$white-base: #fff;
$black-base: #000;
$gray-base: #8E8E8E;
$green-base: #75AD00;
$dark-gray: #e6e6e6;
$light-grey: #F2F2F2;

// Fonts

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
