@import "./src/Styles/variables";
.container {
  display: grid;
  grid-template-columns: auto 15rem minmax(20rem, 75rem) auto;
  grid-template-areas:
          '. sidebar header .'
          '. sidebar main .'
          '. sidebar . .';
  grid-template-rows: auto 1fr auto;
  width: 90%;
  max-width: 1980px;
  height: 70vh;
  margin: 5rem auto;
}

.main {
  grid-area: main
}
