@import "./src/Styles/variables";

.coinsWidget {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 2rem;
}

.border {
  border: 2px solid $light-grey;
  padding: 1.5rem;
  border-radius: 1rem;
}
