@import './src/Styles/variables';

.footer {
  width: 10rem;
  font-size: .8rem;
  line-height: 1.7;

  a {
    font-size: .8rem;
    text-decoration: none;
    color: $gray-base;
    font-weight: 800;
  }
}
